<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/vladyslav/IOS_and_Android_MobileTest"><classes><class name="test.MainPageTest"><methods><include name="mainTest"/></methods></class></classes></test></suite>